/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    /* sidebar part */
    .responsiveMain {
        margin-top: 100px;
    }
    .logo {
        overflow: auto;
        padding: 0 20px 0;
        position: relative;
    }
    .sideBar {
        display: inline-block;
        float: right;
        font-size: 26px;
    }
    .logo img {
        width: 150px;
        float: left;
    }
    .cardMain {
        text-align: center;
    }
    .navBar {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 111;
        background-color: #1A1818;
    }
    .nav {
        background: #1A1818;
        width: 100%;
        position: absolute;
        height: 0;
        overflow: hidden;
        top: auto;
        z-index: 1;
        opacity: 0;
        transition: .5s all;
    }
    .navToggle {
        height: auto;
        opacity: 1;
        transition: .5s all;
    }
    .nav ul {
        width: 100%;
    }
    .nav ul li {
        display: block;
        padding: 0 15px;
        transition: .5s all;
    }
    .navToggle ul li {
        transition: .5s all;
        padding: 15px;
    }
    .navToggle ul li a {
        transition: .5s all;
        font-size: 21px;
    }
    /* about part */
    .aboutContent,
    .serviceContent {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        background: transparent;
    }
    .aboutContent::after {
        height: 0;
    }
    .aboutContentInner {
        width: 100%;
    }
    .imgMain {
        text-align: center;
    }
    .imgMain.aboutImg img {
        width: 100%;
    }
    .imgMain::after {
        right: 225px;
        margin: auto;
    }
    /* services part */
    .servicesInner {
        font-size: 0;
    }
    .firstService {
        position: relative;
        width: 100%;
        margin: 50px 0;
        display: block;
        padding: 0px 10px;
    }
    .serviceImg {
        width: 100%;
        text-align: center;
    }
    .serviceContent {
        position: relative;
        width: 100%;
    }
    .servicesContentMain {
        width: 100%;
    }
    /* form part */
    .formMain::after {
        width: 0;
        height: 0;
    }
}