        @font-face {
            font-family: myFont;
            src: url(/fonts/SEGOEUI.TTF);
        }
        
        html,
        body {
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
            font-family: myFont;
            color: #fff;
        }
        /* sidebar part */
        
        .sideBar {
            display: none;
        }
        
        .main {
            padding-bottom: 50px;
        }
        
        .primaryColor {
            color: #C02F1D !important;
        }
        
        .bgColor {
            color: #1A1818;
        }
        
        .logo img {
            width: 300px;
            margin: auto;
            display: block;
        }
        /* navBar part */
        
        .nav ul {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            padding: 0;
            display: inline-block;
        }
        
        .nav ul li {
            list-style: none;
            display: inline-block;
        }
        
        .nav ul li a {
            padding: 5px 15px;
            color: #FFFFFF;
            text-decoration: none;
            font-size: 0;
            transition: .5s all;
            font-weight: 500;
        }
        /* dropDown menu part */
        
        .dropDown {
            font-size: 17px;
            color: #fff;
            list-style: none;
            float: right;
        }
        
        .dropDown li p {
            width: 150px;
            margin: 0;
            padding: 0 8px;
            border: 1px solid red;
            display: inline-block;
            color: #C02F1D;
            transition: .5s all;
        }
        
        .dropDown li {
            opacity: 0;
            transition: .5s all;
        }
        
        .dropDown li:nth-child(1) {
            display: block;
            opacity: 1;
        }
        
        .dropDown li:nth-child(1) p {
            padding: 8px;
        }
        
        .dropDown:hover li {
            opacity: 1;
            transition: .5s all;
        }
        
        .dropDown:hover li p {
            padding: 8px;
            transition: .5s all;
        }
        /* card part */
        
        .label {
            font-size: 21px;
        }
        
        .loadMore {
            z-index: 1;
            margin: 50px auto;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            padding: 15px 25px;
            transition: .5s all;
            border: 1px solid #C02F1D;
            text-decoration: none;
            color: #fff;
            display: inline-block;
            padding: 10px 30px;
            font-size: 17px;
            margin: 20px 0;
        }
        
        .loadMore::after {
            content: '';
            margin: auto;
            position: absolute;
            top: 0;
            left: -12px;
            bottom: 0;
            z-index: 11;
            height: 1px;
            transition: .5s all;
            width: 24px;
            background-color: #C02F1D;
        }
        
        .loadMore:hover {
            transition: .5s all;
            color: #C02F1D;
        }
        
        .loadMore:hover:after {
            left: 92%;
            transition: .5s all;
        }
        /* about us  */
        
        .aboutMain {
            position: relative;
        }
        
        .imgMain {
            position: relative;
        }
        
        .imgMain::after {
            content: '';
            position: absolute;
            bottom: 1px;
            left: 0;
            width: 222px;
            height: 5px;
            background-color: #C02F1D;
        }
        
        .aboutContent,
        .serviceContent {
            width: 80%;
            background-color: #1E1D1D;
            padding: 20px;
            display: flex;
            justify-content: flex-end;
            position: absolute;
            right: 0;
            top: 20%;
            z-index: -1;
        }
        
        .aboutContentInner {
            width: 70%;
            position: relative;
        }
        
        .aboutContent::after {
            height: 2px;
            width: 70%;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            background-color: #C02F1D;
        }
        
        .adName {
            color: #F82C2C;
            margin: 0;
        }
        
        .fontChange {
            font-family: 'Playfair Display', serif;
            margin: 0;
            font-size: 42px;
        }
        
        .mainPara {
            color: #727171;
            font-size: 18px;
        }
        /* services part */
        
        .serviceContent {
            width: 90%;
        }
        
        .serviceContentToggle {
            left: 0;
            justify-content: flex-start;
        }
        
        .firstService {
            position: relative;
            margin: 100px 0;
        }
        
        .servicesContentMain {
            width: 75%;
        }
        
        .servicesContentMain h2 {
            font-family: 'Playfair Display', serif;
            margin: 0;
            font-size: 26px;
        }
        
        .servicesContentMain p {
            font-size: 18px;
            color: #727171;
        }
        
        .imgToggle {
            text-align: end;
        }
        /* client part */
        
        .client {
            height: 166px;
            background-color: #1E1D1D;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        /* form part */
        
        .formImg {
            text-align: right;
        }
        
        .formLeft {
            position: relative;
        }
        
        .formMain {
            position: relative;
        }
        
        .formMain::after {
            content: '';
            width: 620px;
            height: 460px;
            position: absolute;
            top: 20%;
            left: 0;
            z-index: -1;
            background: #1E1D1D;
        }
        
        .input {
            background-color: #1E1D1D;
            display: flex;
            width: 100%;
            padding: 15px 10px;
            margin: 10px 0;
            border-radius: 5px;
        }
        
        .formContent .fa {
            color: #C02F1D;
            margin-left: 0;
            transition: .5s all;
        }
        
        .formContent p span {
            font-size: 14px;
        }
        
        .fa {
            margin: 0 10px;
            font-size: 50px;
            color: #727171;
        }
        
        input,
        textarea {
            height: 100%;
            background: transparent;
            width: 100%;
            padding: 0 5px;
            border: 0;
            font-size: 16px;
            color: #727171;
        }
        
        input:focus,
        textarea:focus {
            outline: none;
        }
        
        textarea {
            width: 100%;
            resize: none;
        }
        /* Large screens ----------- */
        
        @media only screen and (min-width: 1824px) {
            .formMain::after {
                width: 800px;
            }
        }