    /* iPads (portrait and landscape) ----------- */
    
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
        .cardMain {
            text-align: center;
        }
        /* about part */
        .aboutContent {
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            background: transparent;
        }
        .aboutContent::after {
            height: 0;
        }
        .aboutContentInner {
            width: 100%;
        }
        .imgMain {
            text-align: center;
        }
        .imgMain::after {
            right: 225px;
            margin: auto;
        }
        /* services part */
        .servicesInner {
            font-size: 0;
        }
        .firstService {
            position: relative;
            width: 50%;
            margin: 100px 0;
            display: inline-block;
            padding: 0px 10px;
        }
        .serviceContent {
            position: relative;
            width: 100%;
        }
        .servicesContentMain {
            width: 100%;
        }
    }